/* COLORS */
/* VLC-Qt 
    light: #3c9236;
    dark: #076b3c;
    background: #F0FDE4;
*/
.vlc-qt a {
    color: #3c9236;
}

.vlc-qt .nav-pills>li.active>a {
    background-color: #3c9236;
}

.vlc-qt a:hover {
    color: #076b3c;
}

.vlc-qt h1,
.vlc-qt h2,
.vlc-qt h3,
.vlc-qt h4,
.vlc-qt h5,
.vlc-qt h6 {
    color: #076b3c;
}

.btn-custom,
.btn-outline {
    background-color: #076b3c;
    border-color: #076b3c;
}

.btn-custom:hover,
.btn-custom:active,
.btn-outline:hover,
.btn-outline:active {
    color: #076b3c;
}

.vlc-qt .nav-sidebar .nav > .active > a, 
.vlc-qt .nav-sidebar .nav > li > a:hover, 
.vlc-qt .nav-sidebar .nav > li > a:focus {
    color: #3c9236;
    border-left-color: #3c9236;
}

.vlc-qt .jumbo {
    color: #076b3c;
}

.alert-vlc-qt {
    color: #076b3c;
    background-color: #F0FDE4;
    border-color: #3c9236;
}


/* IMAGES */
.sidebar-offcanvas .logo.vlc-qt {
    background: url(../resources/icons/vlc-qt.png) no-repeat center;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 1.5dppx),
    only screen and (min-resolution: 144dpi)
{
    .sidebar-offcanvas .logo.vlc-qt {
        background-image: url(../resources/icons/vlc-qt@2x.png);
        background-size: 128px 128px;
    }
}