---
layout: page
title: Library Reference
permalink: /reference/
docs: true
---
<a id="top" class="anchor"></a>
<h1>VLC-Qt</h1>
<p class="byline">Library reference documentation</p>

<div class="row">
{% if site.data.docs.supported %}
    <div class="four columns">
        {% for rel in site.data.docs.supported %}
        <h2>Version {{ rel.version }}</h2>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/">Main Page</a></p>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/modules.html">Modules</a></p>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/namespaces.html">Namespaces</a></p>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/annotated.html">Classes</a></p>
        {% endfor %}
    </div>
{% endif %}
{% if site.data.docs.dev %}
    <div class="four columns">
        {% for rel in site.data.docs.dev %}
        <h2>Current git</h2>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/">Main Page</a></p>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/modules.html">Modules</a></p>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/namespaces.html">Namespaces</a></p>
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/annotated.html">Classes</a></p>
        {% endfor %}
    </div>
{% endif %}
{% if site.data.docs.archive %}
    <div class="four columns">
        <h2>Archive</h2>
        {% for rel in site.data.docs.archive %}
        <p><a href="{{ site.baseurl }}/reference/{{ rel.version }}/">{{ rel.version }}</a></p>
        {% endfor %}
    </div>
{% endif %}
</div>
