            <nav id="mobile-nav" class="navbar navbar-dark">
                <div class="container">
                    <ul class="navbar-list">
                        <li class="navbar-item"><a class="navbar-link" href="{{ site.url }}">{{ site.title }}</a></li>
                    </ul>
                    <ul class="navbar-list navbar-list-right">
                        <li class="navbar-item"><a class="navbar-link hamburger" href="#" data-toggle="offcanvas"><span class="ion-navicon-round"></span></a></li>
                    </ul>
                </div>
            </nav>
