<div class="modal fade" id="tano-modal-donate" tabindex="-1" role="dialog" aria-labelledby="Donate" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Donate</h4>
            </div>
            <div class="modal-body">
                <p class="first">VLC-Qt library requires a lot of work and devotion. You can also support the development by donating some money. This money will be spent to cover all expenses and hosting costs.</p>
                <p>And how does this benefit you? Your donation may speed up the development of the projects and give additional motivation to the developers.</p>
                <p>&nbsp;</p>
                <p>
                    <center>
                        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=BCDWAFABA7WXG">
                            <img src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donateCC_LG_global.gif" alt="PayPal — The safer, easier way to pay online."></a>
                    </center>
                </p>
                <p>&nbsp;</p>
                <p>Note: The only supported currency is Euro (€); your local currency will be changed at donation. When you donate, you automatically accept Terms of Donations noted below. If you have any problems with the donation system, feel free to
                    <a
                    href="{{ site.main_url }}#contact" target="_blank">contact me</a>.
                </p>

                <h3>Terms of Donations</h3>
                <p>By making a donation to the VLC-Qt and/or other projects you signify that you acknowledged, understood, accepted, and agreed to the terms and conditions contained in this notice.</p>
                <p>Your donation to the projects is voluntary and is not a fee for any services, goods, or advantages, and making a donation to the projects does not entitle you to any services, goods, or advantages. We have the right to use the money you
                    donate to the projects in any lawful way and for any lawful purpose we see fit and we are not obligated to disclose the way and purpose to any party unless required by applicable law.</p>
                <p>Although VLC-Qt and other projects are free software, they do not have any tax exempt status (the projects are neither a registered non-profit corporation nor a registered charity in any country). Your donation may or may not be tax-deductible;
                    please consult this with your tax advisor.</p>
                <p>We will not publish/disclose your name and e-mail address without your consent, unless required by applicable law.</p>
                <p>The only supported currency is Euro (€); your local currency will be changed at donation.</p>
                <p>Your donation is non-refundable.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
