        <!-- Le javascript
        ================================================== -->
        <script src="{{ "/js/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/jquery.smooth-scroll-1.5.5.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/jquery.cookie-1.4.1.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/lightbox-2.7.1.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/bootstrap-3.3.4.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/browserdetect.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/vlc-qt.js" | prepend: site.baseurl }}"></script>

        <!-- Le styles -->
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <link href="{{ "/css/lightbox-2.7.1.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/css/bootstrap-3.3.4.min.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/css/icomoon.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/css/tano-common.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/css/vlc-qt.css" | prepend: site.baseurl }}" rel="stylesheet">
    
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/img/ico/apple-touch-icon-144-precomposed.png" | prepend: site.baseurl }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/img/ico/apple-touch-icon-114-precomposed.png" | prepend: site.baseurl }}">
          <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/img/ico/apple-touch-icon-72-precomposed.png" | prepend: site.baseurl }}">
                        <link rel="apple-touch-icon-precomposed" href="{{ "/img/ico/apple-touch-icon-57-precomposed.png" | prepend: site.baseurl }}">
                                       <link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.baseurl }}">