<div class="modal fade" id="tano-modal-mit" tabindex="-1" role="dialog" aria-labelledby="MIT" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">The MIT License</h4>
            </div>
            <div class="modal-body">
                {% include modals/license/mit-text.html %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
