@mixin transition($tr) {
    -webkit-transition:$tr;
            transition:$tr;
}

@mixin transition-button() {
    -webkit-transition: color 0.2s, background 0.2s, border-color 0.2s;
            transition: color 0.2s, background 0.2s, border-color 0.2s;
}

@mixin section-gradient($start, $end) {
    background: $start; /* Old browsers */
    background: -moz-linear-gradient(45deg, $start 0%, $end 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, $start), color-stop(100%, $end)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, $start 0%, $end 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, $start 0%, $end 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, $start 0%, $end 100%); /* IE10+ */
    background: linear-gradient(45deg, $start 0%, $end 100%); /* W3C */
}

@mixin floating-shadow() {
    -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.15);
       -moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow:0 2px 5px rgba(0, 0, 0, 0.15);
}
