// Breakpoints
$bp-mobile                : "max-width: 399px" !default;
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-smaller-than-phablet  : "max-width: 549px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-smaller-than-tablet   : "max-width: 749px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey       : #e1e1e1 !default;
$dark-grey        : #333 !default;
$medium-grey      : #999 !default;
$primary-color    : #3c9236 !default;
$secondary-color  : lighten($dark-grey, 13.5%) !default;
$hover-color      : #076b3c !default;
$highlight-color  : #F0FDE4 !default;
$border-color     : #bbb !default;
$link-color       : $primary-color !default;
$link-hover-color : $hover-color !default;
$font-color       : #222 !default;

// Typography
$font-family          : Lora,serif !default;
$font-family-headings : 'Alegreya Sans SC', sans-serif !default;

//Grid Variables
$container-width                     : 1170px !default;
$container-width-larger-than-mobile  : 95% !default;
$container-width-larger-than-phablet : 95% !default;
$total-columns                       : 12 !default;
$column-width                        : 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin                       : 4% !default; // space between columns

// Misc
$global-radius : 4px !default;
$navbar-height : 4rem;

$button-height        : 3.8rem;
$button-padding       : 3rem;
$button-large-height  : 5.6rem;
$button-large-padding : 5rem;

// Import files
@import
    "external/skeleton",
    "mixins",
    "buttons",
    "typography",
    "overrides",
    "sidebar",
    "navbar",
    "jumbo",
    "error"
;
