<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% include error/includes.html %}
    </head>

    <body class="error-body">
        <div class="error-page">
            <div class="container">
                <h1>{{ page.title }}</h1>
                <h2>Oops, you've encountered an error</h2>
                
                {{ content }}
                
                <p>
                    <a href="{{ site.url }}" class="btn btn-outline btn-large">Home</a>
                </p>
            
                <hr class="soften soften-light">

                <footer class="footer">
                    <p>
                        &copy; 2004-2015 Tadej Novak
                    </p>
                </footer>
            </div><!-- /.container -->
        </div>
    </body>
</html>
