{% include sidebar/start.html %}
<a class="sidebar-image logo vlc-qt" href="{% if page.docs %}{{ site.baseurl }}/{% else %}#top{% endif %}"></a>

<h1>VLC-Qt Library</h1>

<nav class="nav-sidebar">
    <ul class="nav nav-stacked">
        <li class="nav-item"><a href="{% if page.docs %}{{ site.baseurl }}/{% endif %}#about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{% if page.docs %}{{ site.baseurl }}/{% endif %}#download" class="nav-link">Download</a></li>
        <li class="nav-item"><a href="{% if page.docs %}{{ site.baseurl }}/{% endif %}#support" class="nav-link">Help &amp; Support</a></li>
        <li class="nav-item"><a href="{% if page.docs %}{{ site.baseurl }}/{% endif %}#contribute" class="nav-link">Contribute</a></li>
        <li class="nav-item"><a href="{{ "/reference/" | prepend: site.baseurl }}" class="nav-link {% if page.docs %} active {% endif %}">Library reference</a></li>
    </ul>
    <ul class="nav nav-stacked nav-extra">
        <li class="nav-item"><a href="{{ site.main_url }}/#projects" class="nav-link">All projects</a></li>
        <li class="nav-item"><a href="{{ site.main_url }}" class="nav-link">Tadej Novak</a></li>
    </ul>
</nav>
{% include sidebar/end.html %}
